# Environment
.env
firebase-admin-sdk.json
# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
/tmp/
npm-package-chatcraft/
# Frontend
chatcraft-ui/node_modules/
chatcraft-ui/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo